.logo {
	font-family: "Raleway";
	font-weight: 700;
	font-size: 24px;
	line-height: 1.16;
	letter-spacing: 0.03em;
	// padding: 16px 0;
	padding: 26px 0;

	@media screen and (min-width: 1200px) {
		font-size: 26px;
        line-height: 1.9;
	}

	&--footer {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	&__firs {
		color: $accent-color;
	}
	
	&__end {
		color: $black-color;
	
		&--white {
			color: $white-color;
		}
	}
}
